<h4 class="text-center">Planks</h4>
<img src="static/planks.jpg" alt="Planks!"  style="width:50%;">
<form class="form-horizontal" action="/submit_exercise" method="POST">
    {# 
        The Planks exercise has a duration and a count; 
    the total calories burned will be calculated by, the count * duration * burnAmount * weight. 
    The duration_mult field multiplies the supplied duration so we end up with seconds as the final value. 
    -#}
    <input type="hidden" name="exercise" value="planks">
    <div class="form-group">
        <div class="col-3 col-sm-12">
            <label class="form-label" for="duration">Duration</label>
        </div>
        <div class="col-9 col-sm-12">
            <input type="number" name="duration" class="form-input" placeholder="minutes" required>
        </div>
    </div>
    <div class="columns">
        <div class="column col-2 col-mx-auto">
            <input type="submit" class="btn btn-success" value="Submit">
        </div>
        <div class="column col-2 col-mx-auto">
            <input type="reset" class="btn" value="Reset">
        </div>
        <div class="column col-2 col-mx-auto">
            <a href="#" class="btn" style="width: 100%">Back</a>
        </div>
    </div>
</form>
