img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body  {  
    background-image:url("/static/background.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 5em;
    background: rgba(255, 255, 255, 0.9);
}

#header {
    border-bottom: 2px solid gray;
    margin: 1em;
}

#body {
    margin: 1em;
}

#footer {
    margin: 1em;
    padding-top: 1em;
    text-align: center;
    border-top: 2px solid gray;
}

#new-user {
    display: none;
}
#new-user:target {
    display: block;
}
#new-user:target + div {
    display: none;
}

.exercise {
    display: none;
}
.exercise:target {
    display: block;
}

.divider {
    margin-top: 2em;
}