{%extends "layout.html"%}

{% block header -%}
<h1 class="text-center">About Us</h1>
{% endblock -%}

{% block body -%}

     <h1>Our fitness app</h1>
     <p>This fitness app calculates exercises and their kcal value per second per kilogram 
		Workouts include: 
		<ol>
            <li>running</li>
            <li>walking</li>
            <li>crunches</li>
			<li>planks</li>
            <li>pushups</li>
            <li>pullups</li>
        </ol>
		The user chooses one of the pre-selected workouts and the amount of reps and the app will calculate amount of calories are burned.</p>
	 <P> Collaborated by: CMSC495(6981) Group 5 - Aaron Broome, Brandyn Byrnes, Austin Durand, Kyrstin Murphy, Oliver Yadao </p>
<div>


{%endblock%}