<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        {% block head -%}
        {% endblock -%}
        <title>{{ title or 'Unnamed Page' }} - Fitness App</title>
    </head>
    <body>
        <main class="container grid-lg">
            <section id="header">
                {% block header -%}
                {% endblock -%}
            </section>
            <style>
		img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		}
		body  
		{  
		background-image:url("/static/background.jpg");  
		background-repeat: no-repeat;
		background-size: cover;
		}  
		</style>
            <section id="body">
                {% block body -%}
                {% endblock -%}
            </section>
        </main>
    </body>
</html>
